<div class="thank-you">
  <a href="/" class="logo sprite sprite-logo"></a>
  <h1 class="t-center">Thank You!</h1>
  <p>
    You’re confirmed!
    <br>
    The RM30 off e-voucher will be sent to your email address shortly!
  </p>
  <div class="share-fb">
    <div class="fb-share-button" data-href="http://gapnew.com/" data-layout="button"></div>  
  </div>   
  <a href="https://www.facebook.com/" title="Gap" class="btn">
    RETURN TO FACEBOOK &#9654;
  </a>
</div>
