html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video{
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section{
    display: block;
}body{
    line-height: 1;
}ol,
ul{
    list-style: none;
}blockquote,
q{
    quotes: none;
}blockquote:before,
blockquote:after,
q:before,
q:after{
    content: none;
}table{
    border-spacing: 0;
    border-collapse: collapse;
}
*{
    outline: none;
}

*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);*/
body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    line-height: 20px;
    color: #231f20;
}
.content{
    position: relative;
    max-width: 840px;
    margin: auto;
}

h1{
    font-size: 60px;
    font-weight: bold;
    line-height: 62px;
    margin-bottom: 2px;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    color: #0689e6;
}
p{
    margin-bottom: 10px;
}

.logo{
    margin-bottom: 75px;
}

.sprite{
    display: block;
    background-image: url('/images/sprite.png');
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx){
    .sprite{
        background-image: url('/images/sprite2x.png');
        background-size: 434px 887px;
    }
}

.sprite-logo{
    width: 91px;
    height: 91px;
    background-position: 0 0;
}

.sprite-jeans{
    width: 434px;
    height: 796px;
    background-position: 0 -91px;
}

.left-part{
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    /*float: left;*/
    width: 516px;
    padding: 58px 0 0 58px;
}

.right-part{
    position: absolute;
    top: 0;
    right: 0;
    /*float: left;*/
}
.t-center{
    text-align: center;
}
.clear{
    clear: both;
}
.fl{
    float: left;
}
#send-form{
    display: none;
    max-width: 308px;
    margin: 40px 0;
}

label{
    display: block;
    margin-bottom: 8px;
    vertical-align: middle;
}
.form-line{
    margin-bottom: 16px;
}
input[type='text'],
input[type='submit'],
.btn{
    font-size: 12px;
    display: block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 6px 10px;
    -webkit-transition: border-color .2s;
         -o-transition: border-color .2s;
            transition: border-color .2s;
    text-decoration: none;
    border: 1px solid #d2d2d2;
}
input[type='text']:focus{
    border-color: #0689e6;
}

input[type='submit'],
.btn{
    font-weight: 700;
    display: inline-block;
    width: auto;
    cursor: pointer;
    color: white;
    border: 1px solid #1a1464;
    background: #1a1464;
}
input[type='submit']:active,
.btn:active{
    border-color: #0689e6;
}
.thank-you{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 58px;
    text-align: center;
}
.thank-you .btn{
    margin-top: 40px;
}
.error{
    border-color: #bd0023!important;
}
.error-field{
    color: #bd0023;
}
.share-fb{
    margin: 20px 0;
}
